
<div class= "container">
  <header class="header"></header>
<<<<<<< HEAD
    <nav class = "navbar navbar-default clearfix">
=======
    <nav class = "navbar navbar-default">
>>>>>>> 5161e228c300cdbc7a1c6d444b636fa1272ae750
      <div class = "container-fluid">
        <div class = "navbar header">
          <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#gnavi">
            <span class = "sr-only">Happy Talk</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
          <a class = "navbar-brand">Happy Talk</a>
        </div>
        <div id = "gnavi" class = "collapse navbar-collapse">
          <ul class = "nav navbar-nav">
            <li><%= link_to "Go to Happy Talk",happy_talks_path %></li>
            <li><%= link_to "Sing up" %></li>
            <li><%= link_to "Login" %></li>
          </ul>
        </div>
      </div>
     </nav>

    <section class="main-image" "container">
      <%= image_tag 'happy_talk_top.png' %>
    </section>

    <section class="about" "container">
      <h1>About Happy Talk</h1>
      <p>
        夢を言葉に。幸せを形に。<br>
      </p>
      <p>
        夢の大きさに比例して、あなたの人生は大きく成長します。<br>
        実現したhappyも、まだ実現していないhappyも、あなたのhappyをシェアしよう。
      </p>
    </section>

    <section class="function" "container-fluid">
      <div class="function-images" "row">
        <a href = "#" class="col-md-4 col-sm-12"><i class="far fa-envelope fa-fw icon"></i>
          <p>Mail</p>
        </a>
        <a href="http://localhost:3000/happy_talks", class="col-md-4 col-sm-12"><i class="fas fa-sign-in-alt fa-fw icon"></i>
          <p>Login</p>
        </a>
        <a href = "#" class="col-md-4 col-sm-12"><i class="far fa-address-book fa-fw icon"></i>
          <P>Make account</P>
        </a>
      </div>
    </section>

    <footer class="footer">
      <p class="footer-text">Happy Talk since 1985</p>
    </footer>
  </div>
