  <header>
    <nav>
      <ul>
        <li><a href="happy_talks">Happy Talk</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Mail</a></li>
      </ul>
    </nav>
  </header>
  <section class="main-header">
    <img src="/happytalk.jpg">
  </section>
  <section class="about">
    <h1>About Happy Talk</h1>
    <p>
      夢を言葉に。幸せを形に。<br>
    </p>
    <p>
      夢の大きさに比例して、あなたの人生は大きく成長します。<br>
      実現したhappyも、まだ実現していないhappyも、あなたのhappyをシェアしよう。
    </p>
  </section>
  <section class="function">
    <h1>Function</h1>
    <div class="function-images">
      <div class="function-image">
        <img src="key.png">
        <p>ログイン機能</p>
      </div>
      <div class="function-image">
        <a href="#"><img src="mails.png" alt="メール送信"></a>
      </div>
      <div class="function-image">
        <a href="#"><img src="girls.png" alt="友達つながり機能"></a>
      </div>
      <div class="function-image">
        <a href="/happy_talks"><img src="comment.png" alt="投稿する"></a>
      </div>
    </div>
  </section>
  <footer>
    <p>Happy Talk</p>
    <p>since 1985</p>
  </footer>
</body>
</html>
